<app-navbar></app-navbar>

<div class="container mt-3">
  <h3>My Videos</h3>
  <div class="row my-3">
    <div class="col-3 my-3" *ngFor="let video of myVideos">
      <div class="card h-100" >
        <img
          class="card-img-top"
          src="{{ video.thumbnail }}"
          alt="Card image cap"
        />
        <div class="row mt-2 mx-2">
          <div class="col-3 circle">
            <img src="{{ video.logo }}" alt="channel logo" class="col-3 circle" />
          </div>
          <div class="col-9 mt-2 mx-2">
            <div class="container-title">
              <strong>{{ video.title }}</strong>
            </div>
          </div>
          <div class="row mt-2 mx-2">
            <p class="mx-2">{{ video.channel }} <i class="fa-solid fa-circle-check"></i></p>

            <p class="mx-2">
              <button
                type="button"
                class="btn btn-outline-success mx-2"
                (click)="edit(video.id)"
              >
                Edit</button
              ><button
                type="button"
                class="btn btn-outline-danger mx-2"
                (click)="delete(video.id)"
              >
                Delete
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
