<app-navbar></app-navbar>

<div class="conatiner my-5 mx-5">
  <div class="row">
    <div class="col-8">
      <div class="ratio ratio-16x9">
        <iframe
          [src]="video.videoUrl | safePipe"
          title="YouTube video"
          allowfullscreen
        ></iframe>
      </div>
      <div class="row mt-2">
        <h4>{{ video.title }}</h4>
      </div>
      <div class="row">
        <div class="col d-flex align-items-start">
          <p class="f-75">{{ video.likes }} likes . {{ video.time }}</p>
        </div>
        <div class="col">
          <a (click)="like()" class="mx-3 text-decoration-none text-dark"
            ><i class="fa-solid fa-thumbs-up mx-2"></i
          ></a>
          <a (click)="share()" class="mx-3 text-decoration-none text-dark"
            ><i class="fa-solid fa-share mx-2"></i>Share</a
          >
        </div>
        <div class="row">
          <span class="text-primary">{{ url }}</span>
        </div>
        <div class="row">{{ video.description }}</div>
      </div>
    </div>
    <div class="col-4 ml-2">
      <div class="row mt-2" *ngFor="let video of remainingVideos">{{video}}</div>
        <div class="row mt-2" *ngFor="let video of remainingVideos">
        <div class="col-5 pl-0">
          <img src="{{ video.thumbnail }}" alt="" class="align-card-img" />
        </div>
        <div class="col-7 ml-2">
          <div class="row">
            <strong>{{ video.title }}</strong>
          </div>
          <div class="row">
            <div class="col">
              <p>
                {{ video.channel }} <i class="fa-solid fa-circle-check"></i>
              </p>
            </div>
          </div>
          <div class="row">
            <p class="f-75">{{ video.likes }} Likes . {{ video.time }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
