<div class="container w-25 mt-5">
  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error !== ''">
    <strong>{{error}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <form >
    <div class="text-center">
      <img
      src="https://i.pinimg.com/originals/09/f4/72/09f4726125ab5fa8cbcf754b9ba07e7c.jpg"
      alt="logo"
      class="logo-size img-fluid"
  />
    </div>
    <h1 class="h3 my-3 fw-heavy signUpTxt" >Please SignUp</h1>

    <div class="my-3">
      <label for="username" class="form-label">username or Email address</label>
      <input
        type="email"
        class="form-control"
        placeholder="name@example.com"
        name="username"
        autocomplete="off"
        [(ngModel)]="registeruser.username"
        #username="ngModel"
        required
      />
      <small class="text-danger" *ngIf="!username.valid">username required</small>
    </div>
    <div class="my-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        name="password"
        autocomplete="off"
        [(ngModel)]="registeruser.password"
        #password="ngModel"
        minlength="8"
        required
      />
      <small class="text-danger" *ngIf="!password.valid">Password is invalid</small>
    </div>
    <div class="my-3">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="ConfirmPassword"
        name="confirmPassword"
        autocomplete="off"
        [(ngModel)]="registeruser.confirmPassword"
        #confirmPassword="ngModel"
        required
      />
      <small class="text-danger" *ngIf="!confirmPassword.valid">ReEnter your Password</small>
    </div>
    <div class="my-3">
      <label for="channel" class="form-label">Channel</label>
      <input
        type="text"
        class="form-control"
        placeholder="Channel"
        name="channel"
        autocomplete="off"
        [(ngModel)]="registeruser.channel"
        #channel="ngModel"
        required
      />
      <small class="text-danger" *ngIf="!channel.valid">Channel name  required</small>
    </div>
    <div class="my-3">
      <label for="logo" class="form-label">Channel Logo</label>
      <input
        type="text"
        class="form-control"
        placeholder="Channel Logo"
        name="logo"
        autocomplete="off"
        [(ngModel)]="registeruser.logo"
        #logo="ngModel"
        required
      />
      <small class="text-danger" *ngIf="!logo.valid">Channel Logo  required</small>
    </div>
    <button
      class="w-100 btn btn-lg btn-primary mb-2"
      type="submit"
      (click)="regester()"
    >
      Sign Up
    </button>
    <p>Already have account? Sign In <a routerLink="/login">here</a></p>
    <p>Click here to go <a routerLink="/">Home</a></p>
  </form>
</div>
