<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"
        ><img
          src="https://i.pinimg.com/originals/09/f4/72/09f4726125ab5fa8cbcf754b9ba07e7c.jpg"
          alt="logo"
          class="logo-size"
      /></a>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex w-75">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item"><a routerLink="/create" class="mx-2 nav-link">create</a></li>
          <li class="nav-item"><a routerLink="/login" class="mx-2 nav-link">Login</a></li>
          <li class="nav-item"><a  (click)="logout()" class="mx-2 nav-link">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>